:root {
  --black-clr: #000;
  --black-light-clr: #262626;
  --white-clr: #fff;
  --blue-light-link: #0067b8;
  --blue-light-link-hover: #005da6;
  --max-width-container: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #fff;
  color: var(--black-clr);
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: var(--black-light-clr);
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90vw;
  max-width: var(--max-width-container);
  margin: auto;
}

/* NAVigation */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.main-menu,
.right-menu {
  display: flex;
  align-items: center;
}

.right-menu i {
  font-size: 14px;
  margin-left: 10px;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 10px;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a:hover {
  border-bottom: 2px var(--black-light-clr) solid;
  padding-bottom: 2px;
}

.main-nav .logo {
  width: 110px;
}

/* hamburger menu */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 10;
  display: none;
}

/* showcase */

.showcase {
  position: relative;
  width: 100%;
  height: 500px;
  background: url('./img/showcase.jpg') center center/cover no-repeat;
  align-items: center;
}

.showcase-bottom {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.showcase-bottom p {
  margin-bottom: 20px;
}
.showcase-bottom h1 {
  margin-bottom: 10px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--black-clr);
  color: var(--white-clr);
  font-weight: bold;
  border: 0;
  font-size: 15px;
}

.btn i {
  margin-left: 5px;
}

.btn:hover {
  opacity: 0.85;
}

.btn:hover i {
  margin-left: 12px;
  transition: all 200ms ease-in-out;
}

/* Home Cards */

.home-cards {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /* height: 335px; */
}

.home-cards div {
  margin-bottom: 15px;
}
.home-cards img {
  width: 100%;
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards div a {
  display: inline-block;
  padding-top: 10px;
  color: var(--blue-light-link);
  text-transform: capitalize;
  font-weight: 600;
}

.home-cards a:hover {
  border-bottom: 2px var(--blue-light-link-hover) solid;
  background: transparent;
  /* padding-bottom: 1px; */
}

.home-cards a:hover i {
  margin-left: 7px;
  transition: all 200ms ease-in-out;
}

/* <!-- Football --> */

.football {
  margin-top: 2px;
  position: relative;
  height: 480px;
  width: 100%;
  background: url('./img/football.png') center center/cover no-repeat;
}

.football .content {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.football p,
.olympics p {
  margin: 10px 0 20px;
}

.football h2,
.olympics h2 {
  font-size: 30px;
  font-weight: 600;
}

/* <!-- Olympics --> */

.olympics {
  position: relative;
  height: 480px;
  width: 100%;
  background: url('./img/olympics.png') top left/cover no-repeat;
}

.olympics .content {
  position: absolute;
  width: 33%;
  top: 25%;
  right: -10%;
  transform: translate(-50%, -50%);
}

/* <!-- Follow - social media --> */
.follow {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.follow a {
  margin-left: 10px;
}

.follow i {
  font-size: 30px;
  padding: 0 4px;
  color: var(--blue-light-link);
}

.follow i.fa-facebook {
  color: #425daa;
}
.follow i.fa-twitter {
  color: #55acee;
}
.follow i.fa-linkedin {
  color: #0177b5;
}

/* <!-- Links --> */
.links {
  background-color: #f2f2f2;
  font-size: 12px;
  color: #616161;
  padding: 35px 0;
}

.links-inner {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links-inner h3 {
  font-size: 15px;
  font-weight: 600;
}

.links li {
  line-height: 2.6;
}

.links li a:hover {
  border-bottom: 1px solid #000;
}

/* <!-- Footer --> */
.footer {
  background-color: #f2f2f2;
  font-size: 12px;
  color: #616161;
  display: flex;
}

.footer-inner {
  width: 100%;
  max-width: var(--max-width-container);
  padding: 0 20px;
  margin: 30px auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-inner div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer-inner ul {
  display: flex;
  flex-wrap: wrap;
}

.footer-inner li {
  margin-right: 20px;
}

.footer-inner i {
  margin-right: 10px;
}

.footer-inner li a:hover {
  border-bottom: 1px solid #000;
}

/* Media Queries */

/* screen size of 700px and smaller */

@media (max-width: 800px) {
  .menu-btn {
    display: block;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    z-index: 100;
    transform: translateX(-500px);
    border-right: 1px solid #ccc;
    opacity: 0.9;
    padding: 30px;
    transition: transform 1s ease;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-10px);
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .home-cards {
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }
  .home-cards div {
    height: auto;
    margin: 10px 0;
  }
  .football p {
    margin: 10px -10px 20px;
  }

  .olympics .content {
    background: #0006;
    margin-top: 120px;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 25%;
    right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .olympics .content h2 {
    margin-top: 30%;
    top: 45%;
    right: -50%;
    transform: translate(0%, -50%);
    text-align: center;
  }

  .olympics .content p {
    width: 70%;
    margin: 0 auto 20px;
  }

  .links .links-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .links .links-inner ul {
    margin-bottom: 20px;
  }

  .footer .footer-inner div {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .home-cards {
    grid-template-columns: 1fr;
  }

  .links {
    padding: 10px 0 0;
  }
  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .footer .footer-inner {
    width: 100%;
    display: block;
  }

  .footer .footer-inner div {
    margin-bottom: 20px;
  }
}
